/* ##################################################################### */
/* ##################################################################### */
/* ##################################################################### */
/* ##################################################################### */
                            /* BDS*/


.team-container {
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.team-container h2 {
    color: white;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.team-container h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.team-container h4 {
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.team-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Section Présidente */
.president-section {
    margin-bottom: 50px;
}

/* Section Bureau */
.bureau-section {
    margin-bottom: 50px;
}

.bureau-images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bureau-member {
    margin: 20px;
}


.member-text {
    margin-top: 10px;
    width: 175px; /* La même largeur que l'image */
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-right: 5px;
    text-align: center;
}

.bureau-member p {
    width: 20%;
}

/* Autres membres */
.other-members {
    margin-bottom: 50px;
}

.member-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.member {
    margin: 20px;
}