.navbar {
    background: black;
}


/* ##################################################################### */
/* ##################################################################### */
/* ##################################################################### */
/* ##################################################################### */
                            /* EVENEMENT */


h1 {
    font-size: 3em;
}


.activity-page-wrapper {
    margin-top: 5%;
    font-family: Arial, sans-serif;
    color: white;
}

/* Activités Section */
.activity-section {
    margin-bottom: 50px;
    padding: 20px;
    text-align: center;
}

.msg-no-activity{
    color: white;
    font-size: 1.2em;
}


.activity-slider {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    gap: 20px;
    padding: 20px 0;
    color: black;
}

.activity-item {
    flex: 0 0 300px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.activity-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.activity-info h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.activity-info span {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}




/* COUFF Section */
.couff-section {
    margin-bottom: 50px;
    padding: 20px;
    text-align: center;
}

.couff-section p{
    width: 60%;
    margin-left: 20%;
    text-align: center;
}

.couff-section h2 {
    margin: 20px 0;
    font-size: 1.8em;
}

.time-slot {
    margin: 20px 0;
    margin-top: 3%;
}

.time-slot h3{
    margin: 20px 0;
    font-size: 2em;
}

.sport_couff {
    display: flex;
    justify-content: space-evenly;
}

.sport-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}

.sport-item img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* TOSS Section */
.toss-section {
    margin-bottom: 50px;
    padding: 20px;
    text-align: center;
}

.toss-section img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

/* WES Section */
.wes-section {
    margin-bottom: 50px;
    padding: 20px;
    text-align: center;
}

.wes-section img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

/* Media Query pour Mobile */
@media (max-width: 600px) {
    .activity-slider {
        flex-direction: column;
    }

    .sport_couff {
        flex-direction: column;
        align-items: center;
    }

    .sport-item img {
        width: 100px;
        height: 100px;
    }
}