/* Styles pour le corps de la page */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #0B1124;
    /* background-color: rgba(15,23,42,255); */
    /* background-color: rgb(5, 20, 221); */
    /* background-color: rgb(4, 11, 122); */
}

a{
    color:#0B1124;
    text-decoration-color: none;
    text-decoration: none;
}








.LogoContainer{
    z-index: 1005;
    position: fixed;
    top: -1%;
    right: -1vw;
    width: 15vw;
    height: 15vw;
    overflow: hidden;
}

/* Styles pour le logo */
.logo {
    width: 15vw;
    height: 15vw;
    object-fit: cover;
}



.BDSTitre{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(224, 78, 10);
    font-size: 8em;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 700;
}

@media (max-width: 800px){
    .BDSTitre{
        padding-top: 15px;
        font-size: 5em;
    }
}

@media (max-width: 500px){
    .BDSTitre{
        padding-top: 15px;
        font-size: 4.5em;
    }
}





















.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.video-container {
    position: relative;
    height: 100vh;
    width: 100%;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.Reseau {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligne les éléments à droite */
    bottom: 3%;
    right: 3%;
    z-index: 1;
    gap: 2%; /* Espace entre les éléments */
}

.Facebook, .Insta {
    width: 75px;
    height: 75px;
}












/* Styles pour la barre de navigation */
.navbar {
    position: fixed;
    background: none;
    top: 0;
    left: 0; /* Ajouté pour s'assurer que la navbar commence à gauche */
    width: 100%;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vh 2vw; /* Padding relatif à la taille de la fenêtre */
    -webkit-text-stroke: 1px black; /* Contour noir de 1px */
    z-index: 1000;
    box-sizing: border-box; /* Ajouté pour inclure padding et bordures dans la largeur */
}

.navbar.scrolled {
    background: black; /* Fond noir quand la page est défilée */
    transition: 0.7s ease-in-out;
}

/* Styles pour le conteneur de la navigation */
.nav-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

/* Styles pour les éléments de navigation */
.nav-items {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: -1% 0;
    gap: 3vw; /* Espace entre les éléments relatif à la largeur de la fenêtre */
    font-size: 2em;
}

.nav-items a {  
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.nav-items a:nth-child(1) {  
    margin-right: 10%;
    margin-left: -20%;
}

.nav-items a.active {
    text-decoration: underline;
    -webkit-text-stroke: 1px black;
}

.nav-items a:hover {
    color: rgb(54, 124, 188);
    transition: 0.2s ease-in-out;
}

/* Styles pour le bouton de menu */
.menu-toggle {
    display: none;
    font-size: 2rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}



@media (max-width: 1600px){
    .nav-items{
        font-size: 1.9em;
    }
    .nav-items a:nth-child(1) {  
        margin-right: 7%;
        margin-left: -16%;
    }
}

@media (max-width: 1300px){
    .nav-items{
        font-size: 1.5em;
    }
    .nav-items a:nth-child(1) {  
        margin-right: 7%;
        margin-left: -14%;
    }
}

@media (max-width: 1060px){
    .nav-items{
        font-size: 1.2em;
    }
    .nav-items a:nth-child(1) {  
        margin-right: 7%;
        margin-left: -14%;
    }
}

@media (max-width: 900px){
    .nav-items{
        font-size: 1em;
    }
    .nav-items a:nth-child(1) {  
        margin-right: 4%;
        margin-left: -14%;
    }
}

@media (max-width: 700px){
    .nav-items{
        font-size: 0.9em;
    }
    .nav-items a:nth-child(1) {  
        margin-right: 5%;
        margin-left: -17%;
    }
}

/* Styles pour les écrans de moins de 600px */
@media (max-width: 600px) {
    .nav-items {
        display: none; /* Cacher les éléments de navigation par défaut */
        flex-direction: column;
        gap: 10px;
        background-color: black;
        position: absolute;
        top: 50px;
        left: 0;
        width: 25%;
        padding: 10px;
        border-radius: 20px;
    }

    .menu-toggle {
        display: block;
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .nav-items a:nth-child(1) {  
        margin-left: 0%;

    }

}






/* Styles pour le conteneur du logo */
.LogoContainer {
    z-index: 1005;
    position: fixed;
    top: 1%;
    right: 1%;
    width: 12vw;
    height: auto;
    overflow: hidden;
}

/* Styles pour le logo */
.logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}













/* Container pour le premier texte */


.container {
    margin-top: 15%;
    text-align: justify;
    max-width: 100%;
    background-color: #0B1124;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.79rem;
    line-height: 2.25rem;
    color: rgb(207, 207, 207);
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

@media (max-width: 1300px){
    .container{
        font-size: 1.60em;
        line-height: 2.10rem;
    }
}

@media (max-width: 1000px){
    .container{
        font-size: 1.3em;
        line-height: 1.9rem;
    }
}

@media (max-width: 700px){
    .container{
        font-size: 1.1em;
        line-height: 1.6rem;
    }
}

@media (max-width: 400px){
    .container{
        font-size: 0.9em;
        line-height: 1.2rem;
    }
}

.container p{
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;

}

.highlight {
    /* color: #2979FF; */
    font-weight: 700; /* Optionnel: mettre en gras si nécessaire */
}

.container strong{
    color: white;
    font-weight: 700;
}









/* Container pour les clubs, ultra, ... */


.features-container {
    margin-top: 40px;
    text-align: center;
    max-width: 80%;
    margin: 50px auto;
    color: white;
    background-color: #0B1124;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}


.features-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: 700;
}

.features-intro p {
    max-width: 70%;
    margin: 0 auto 40px;
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}



.feature {
    font-size: 1em;
    text-decoration: none;
    background-color: #1A2238;
    border-radius: 8px;
    border: 1px solid #2979FF;
    width: 300px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: white;
}


@media (max-width: 400px){
    .feature{
        width: 200px;
    }
}



.feature-icon {
    height: 100px;
    margin-bottom: 20px;
    width: 100%;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

.evenement {
    background: url('04_Image/EVENEMENTS.JPG');
    background-position-y: 80%;
    zoom: 1.5;
    background-size: cover;
    background-repeat: no-repeat;
}

.clubs {
    background: url('04_Image/CLUBS1.JPG');
    background-position-y: 20%;
    background-size: cover;
    background-repeat: no-repeat;
    zoom: 1.5;
    
}

.ultra {
    background: url('04_Image/ULTRA.JPG');
    background-position-y: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    zoom: 1.5;
}

.feature h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: 700;
}

.feature p {
    font-size: 0.9em;
    line-height: 1.5em; 
}

.dots {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #2979FF;
    border-radius: 50%;
    display: inline-block;
}


/* @media (max-width: 500px) {
    .feature{
        font-size: 0.8em;
    }
    
} */











.infographie {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #FFFFFF;
    width: 70%;
    margin: 0 auto;
}

.infographie-container {
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.infographie-item {
    text-align: center;
    width: 30%;
}

.infographie-header {
    font-size: 2em;
    margin-bottom: 10px;
    color: #32E0C4;
    font-weight: 700;
}

.infographie-subheader {
    font-size: 1.5em;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    color: #192231;
    padding: 5px;
    border-radius: 20px;
    border: 2px solid #32E0C4;
    font-weight: 700;
}

.infographie-icon {
    margin-bottom: 20px;
}

.icon-circle {
    width: 150px;
    height: 150px;
    border: 5px solid #32E0C4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.icon-circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    zoom: 1.5;
    overflow: hidden;
}

.infographie-description {
    font-size: 1.1em;
}

.wavy-border {
    width: 100%;
    height: 20px;
    background: url('04_Image/vaguelette.png') repeat-x;
    background-size: contain;
}

.wavy-border-top {
    transform: rotate(180deg);
    margin-bottom: -40px;
}

.wavy-border-bottom {
    margin-top: -40px;
    margin-bottom: 10%;
}

@media (max-width: 768px) {
    .infographie-container {
        flex-direction: column;
        align-items: center;
    }

    .infographie-item {
        width: 80%;
        margin-bottom: 20px;
    }
}











/* Container pour le wes */


/* Style pour la classe .wes */
.wes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: auto; /* Hauteur de la page pour permettre le défilement */
}

/* Style pour la classe .mountain-container */
.mountain-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: au;
    overflow: hidden;
}

/* Style pour l'image mountain */
.mountain {
    transform: translate(-1.8%, 0%);
    height: 100%;
    width: 120%;
    object-fit: cover;
}

/* Style pour l'image skier */
.skier {
    position: absolute;
    width: 5vw; /* Taille de l'image du skieur en fonction de la largeur de l'écran */
    top: 0;
    left: 50%;
    transform: translate(-50%, 0); /* Ajustement initial du skieur */
    transition: top 0.1s linear, left 0.1s linear, width 0.1s linear;
}

/* Style pour le texte overlay-text */
.overlay-text {
    position: absolute; /* Positionner le texte au-dessus de l'image */
    top: 50%; /* Centrer verticalement le texte */
    left: 50%; /* Centrer horizontalement le texte */
    transform: translate(-50%, -50%); /* Ajuster le texte pour le centrer exactement */
    font-size: 2vw; /* Taille initiale du texte */
    color: #FFD700; /* Couleur jaune pour le texte */
    font-family: 'Arial', sans-serif; /* Police de caractères */
    font-weight: bold; /* Gras */
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.7), /* Ombre noire pour effet 3D */
                 6px 6px 0px rgba(0, 0, 0, 0.5); /* Ombre noire pour effet 3D */
    letter-spacing: 5px; /* Espacement entre les lettres */
    z-index: 10; /* Assurez-vous que le texte est au-dessus des autres éléments */
    text-align: center; /* Centrer le texte horizontalement */
}

/* Style pour le compteur countdown */
#countdown {
    font-size: 2.5em;
    margin-top: 5%;
    color: #000000;
    position: absolute;
    top: 60%;
    font-family: 'Arial', sans-serif;

    font-weight: bold;
    letter-spacing: 5px;
    z-index: 10;
    text-align: center;
}

@media (max-width: 1300px){
    #countdown{
        font-size: 2em;
    }
}

@media (max-width: 900px){
    #countdown{
        font-size: 1.5em;
    }
}

@media (max-width: 900px){
    #countdown{
        font-size: 1.1em;
    }
}


/* Animation pour le texte overlay-text */
@keyframes growAndShrink {
    0%, 100% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }
}

.overlay-text.scroll-animation {
    animation: growAndShrink 1s ease-in-out;
}


/* .Actu {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.Actu-container {
    display: flex;
    transition: transform 0.3s ease;
    width: 100%;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    max-width: 80%;
    height: auto;
    display: block;
}

.arrow {
    background-color: transparent;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 150px;
    color:rgba(255, 217, 0, 0.748);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    z-index: 1006;
    right: 10px;
} */




/* styles.css */
.Partenariat {
    margin-top: 5%;
    width: 100%;
    text-align: center;
}

.Partenaire {
    display: block;
    color: rgb(255, 217, 0);
    font-size: 6vw;
    font-family: 'Poppins';
    margin-bottom: 20px;
}

.Images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    width: 100%; 
}

.Partenaire-image {
    flex: 1 1 calc(33.333% - 10px); 
    height: 400px;
    max-width: calc(33.333% - 70px);
    margin-bottom: 10px;
    object-fit: cover;
    margin-left: 30px;
    margin-right: 30px;
}




/* ##################################################################### */
/* ##################################################################### */
/* ##################################################################### */
/* ##################################################################### */
                            /* CONTACT*/


.Contact {
    background-color: rgb(18, 18, 18);
    color: rgb(207, 207, 207);
    height: auto;
    padding: 20px; /* Ajout d'un padding pour l'espacement */
}

.ContactTitre {
    color: white;
    font-size: 3.5em;
    font-family: 'Poppins';
    font-weight: bold;
    margin-bottom: 20px; /* Espacement sous le titre */
    text-align: left;
}

.contenerContact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap; /* Pour permettre l'ajustement des éléments lorsque la taille de la fenêtre change */
}

.LogoEmail {
    height: 100px;
    flex-shrink: 0; /* Pour empêcher le rétrécissement de l'image */
}

.adressemail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    flex-grow: 1;
    margin-left: 15px; /* Espacement entre l'image et les adresses email */
}

.adressemail span {
    font-size: 1.5rem;
    font-family: 'Poppins';
    font-weight: bold;
    text-align: left; /* Aligner les adresses email à gauche */
}

.ReseauLien {
    display: flex;
    flex-direction: column;
    margin-left: auto; /* Pousse la section des réseaux sociaux à l'extrémité droite */
    gap: 15px;
}

.ReseauLien a {
    text-decoration: none;
    font-size: 1em;
    font-family: 'Poppins';
    font-weight: bold;
    color: white;
    align-items: center;
    display: flex;
}

.ReseauLien a img {
    width: 75px;
    height: 75px;
    margin-right: 10px; /* Espacement entre l'image et le texte */
}

.ReseauLien a span {
    font-size: 1.1em;
    font-family: 'Poppins';
    font-weight: bold;
}



@media (max-width: 600px) {
    .contenerContact {
        flex-direction: column;
        align-items: flex-start;
    }

    .ContactTitre {
        font-size: 2rem; 
    }

    .adressemail span {
        font-size: 1rem;
    }

    .LogoEmail {
        margin-bottom: 5px;
    }

    .adressemail {
        width: 100%;
        margin-left: 0;
    }

    .ReseauLien {
        margin-left: 0;
        width: 100%;
    }

    .ReseauLien a span {
        text-align: left;
        font-size: 1rem;
    }
    
    .ReseauLien a img{
        width: 50px;
        height: 50px;
    }
}


/* ##################################################################### */
/* ##################################################################### */
/* ##################################################################### */
/* ##################################################################### */
                            /* COPYRIGHT*/

.Copyright{
    background-color: rgb(18, 18, 18);
    color: rgb(207, 207, 207);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 1.1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative;
}

.Copyright .text-container {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative; /* Nécessaire pour positionner #discret */
}

@keyframes rainbow {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    57% { color: blue; }
    71% { color: indigo; }
    85% { color: violet; }
    100% { color: red; }
}

.multicolor {
    display: inline-block;
    font-weight: bold;
    animation: rainbow 5s infinite;
}

@media (max-width: 600px){
    .Copyright{
        padding-top: 10px;
        font-size: 0.8rem;
    }
}
                            
                            